/*
GENERAL
*/

h2 {
    font-size: 1.7em;
}

a {
    color: black;
}

.wrap {
    max-width: 720px;
    margin: 0 auto;
}

:focus {
    outline: none;
}

/*
HEADER
*/

.logo {
    padding-bottom: 2vh;
}

.logo img {
    width: auto;
    height: 15vh;
    margin: 0 auto;
    display: block;
}

nav {
    background-color: #ccecf3;
}

nav ul a {
    color: black;
}

/*
FOOTER
*/

footer {
    margin-top: 50px;
    text-align: center;
}

.affiliation-logos img {
    width: auto;
    height: 5vh;
    margin: 0 auto;
    display: block;
}


/*
CONTENT
*/

.content {
    min-height: 60vh;
}

.demo {
    height: auto;
    width: 80%;
    margin: 0 auto;
    display: block;
}

/*
 DOWNLAODS
 */

.downloads .row {
    display: flex;
    flex-direction: row;
}

.downloads .row .item {
    width: 50%;
    text-align: center;
    background-color: lightgrey;
    border-radius: 5px;
}

.downloads .row .item.left{
    margin-right: 1rem;
}

.downloads .row .item.right{
    margin-left: 1rem;
}

.code-container {
    background-color: #f0efef;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}


/*
news on the front page
*/

.news_item {

    margin-bottom: 10px;
}

.news_time {
    font-style: italic;
    color: grey;
}

.news_text {
    margin-top: 2px;

}

